{% extends 'base.html.twig' %}

{% block title %}Search new books!{% endblock %}
{% block body %}
    <link href="{{ asset('styles/search.css') }}" rel="stylesheet" type="text/css"/>
    <div class="container">
        <div class="row">
            <!-- BEGIN SEARCH RESULT -->
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <!-- BEGIN FILTERS -->
                            <div class="col-md-3">
                                <h2 class="grid-title"></i> Filters</h2>
                                <hr>

                                <!-- BEGIN FILTER BY CATEGORY -->
                                <div class="filter">
                                    <h4>Genre:</h4>
                                    <div class="checkbox">
                                        <label><input name="checkBoxGenre" type="checkbox" class="icheck"
                                                      id="checkFantasy" value="fantasy"> Fantasy</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="checkBoxGenre" type="checkbox" class="icheck" id="checkSF"
                                                      value="science_fiction"> Science-fiction</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="checkBoxGenre" type="checkbox" class="icheck" id="checkA_A"
                                                      value="action_adventure"> Action & Adventure</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="checkBoxGenre" type="checkbox" class="icheck"
                                                      id="checkThriller" value="thriller"> Thriller</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input name="checkBoxGenre" type="checkbox" class="icheck"
                                                      id="checkHorror" value="horror"> Horror</label>
                                    </div>
                                </div>
                                <!-- END FILTER BY CATEGORY -->

                                <!-- BEGIN FILTER BY DATE -->
                                <div class="filter">
                                    <h4>By year:</h4>
                                    From
                                    <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"
                                         data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                                        <input type="text" class="form-control" id="dateFilterFrom">
                                        <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                    </div>
                                    <input type="hidden" id="dtp_input1" value="">

                                    To
                                    <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z"
                                         data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                                        <input type="text" class="form-control" id="dateFilterTo">
                                        <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                    </div>
                                    <input type="hidden" id="dtp_input2" value="">
                                    <!-- END FILTER BY DATE -->

                                    <div class="padding"></div>
                                </div>
                                <!-- BEGIN FILTER BY PRICE -->
                                <h4>Price:</h4>
                                Select the maximum price!
                                <div class="range">
                                    <input type="range" name="range" min="1" max="100" value="100" id="priceSlider"
                                           oninput="changePrice(this.value)">
                                    <output id="range">$100</output>
                                </div>
                                <!-- END FILTER BY PRICE -->

                                <!-- FILTER BUTTON -->
                                <div class="pt-1 my-4">
                                    <button class="btn btn-success btn-lg  type='submit'" id="filterButton">Filter
                                    </button>
                                </div>
                            </div>
                            <!-- END FILTERS -->
                            <!-- BEGIN RESULT -->
                            <div class="col-md-9">
                                <h2> Result</h2>
                                <hr>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="radio_author" value="author">
                                    <label class="form-check-label" for="radio_author">Author</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="radio_ISBN" value="isbn">
                                    <label class="form-check-label" for="radio_ISBN">ISBN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="radio_title" value="title">
                                    <label class="form-check-label" for="radio_title">Title</label>
                                </div>
                                <!-- BEGIN SEARCH INPUT -->
                                <div class="input-group rounded">
                                    <input type="search" name="searchBar" class="form-control rounded" placeholder="Search"
                                           aria-label="Search" aria-describedby="search-addon" id="Searchbar"/>
                                    <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
                                </div>
                                <!-- END SEARCH INPUT -->
                                <p id="searchInfo" class="invisible">Showing all results matching "web development"</p>

                                <div class="padding"></div>

                                <div class="row">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6">
                                        <div class="dropdown">
                                            <label for="OrderDropDown">Order By:</label>
                                            <select name="OrderBy" id="OrderDropDown">
                                                <option name="OrderItem" selected="selected" value="name">Name</option>
                                                <option name="OrderItem" value="date">Date</option>
                                                <option name="OrderItem" value="pageNumber">Pages</option>
                                                <option name="OrderItem" value="rating">Rating</option>
                                            </select>

                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->
                                </div>

                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody id="bookList">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END TABLE RESULT -->

                                <!-- BEGIN PAGINATION -->
                                <nav aria-label="pagination">
                                    <ul class="pagination justify-content-center">
                                        <li id="liPreviousPage" class="page-item disabled">
                                            <a id= "previousPage" class="page-link" href="#" tabindex="-1"
                                              >Previous</a>
                                        </li>
                                        <li class="page-item"><a id="p-link-1" class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a id="p-link-2" class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a id="p-link-3" class="page-link" href="#">3</a></li>
                                        <li id="liNextPage" class="page-item disabled">
                                            <a id="nextPage" class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END PAGINATION -->
                            </div>
                            <!-- END RESULT -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SEARCH RESULT -->
        </div>
    </div>
    <script src="{{ asset('scripts/search.js') }}"></script>
{% endblock %}