{% extends 'base.html.twig' %}

{% block title %}Search new books!{% endblock %}
{% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('build/search.css') }}" rel="stylesheet" type = "text/css"/>
    <div class="container">
        <div class="row">
            <!-- BEGIN SEARCH RESULT -->
            <div class="col-md-12">
                <div class="grid search">
                    <div class="grid-body">
                        <div class="row">
                            <!-- BEGIN FILTERS -->
                            <div class="col-md-3">
                                <h2 class="grid-title"></i> Filters</h2>
                                <hr>

                                <!-- BEGIN FILTER BY CATEGORY -->
                                <div class="filter">
                                <h4>Genre:</h4>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Fantasy</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Science-fiction</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Action & Adventure</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Thriller</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Horror</label>
                                </div>
                                </div>
                                <!-- END FILTER BY CATEGORY -->
                                <div class="filter">
                                <h4>Language:</h4>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> English</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Dutch</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> German</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Chinese</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Spanish</label>
                                </div>

                                <div class="padding"></div>
                                </div>

                                <!-- BEGIN FILTER BY DATE -->
                                <div class="filter">
                                <h4>By year:</h4>
                                From
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="">

                                To
                                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="">
                                <!-- END FILTER BY DATE -->

                                <div class="padding"></div>
                                </div>
                                <!-- BEGIN FILTER BY PRICE -->
                                <h4>Price:</h4>
                                Select the maximum price!
                                <div class="range">
                                    <input type="range" name="range" min="1" max="100" value="100" onchange="range.value= '$'+ value">
                                    <output id="range">$100</output>
                                </div>
                                <!-- END FILTER BY PRICE -->
                            </div>
                            <!-- END FILTERS -->
                            <!-- BEGIN RESULT -->
                            <div class="col-md-9">
                                <h2> Result</h2>
                                <hr>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Author</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">ISBN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                                    <label class="form-check-label" for="inlineRadio3">Title</label>
                                </div>
                                <!-- BEGIN SEARCH INPUT -->
                                <div class="input-group rounded">
                                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                    <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
                                </div>
                                <!-- END SEARCH INPUT -->
                                <p>Showing all results matching "web development"</p>

                                <div class="padding"></div>

                                <div class="row">
                                    <!-- BEGIN ORDER RESULT -->
                                    <div class="col-sm-6">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                Order by <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">Name</a></li>
                                                <li><a href="#">Date</a></li>
                                                <li><a href="#">View</a></li>
                                                <li><a href="#">Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- END ORDER RESULT -->
                                </div>

                                <!-- BEGIN TABLE RESULT -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody><tr>
                                            <td class="number text-center">1</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/FF8C00" alt=""></td>
                                            <td class="product"><strong>Product 1</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            <td class="price text-right">$350</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">2</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/5F9EA0" alt=""></td>
                                            <td class="product"><strong>Product 2</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>
                                            <td class="price text-right">$1,050</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">3</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300" alt=""></td>
                                            <td class="product"><strong>Product 3</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>
                                            <td class="price text-right">$550</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">4</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/8A2BE2" alt=""></td>
                                            <td class="product"><strong>Product 4</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>
                                            <td class="price text-right">$330</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">5</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300" alt=""></td>
                                            <td class="product"><strong>Product 5</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
                                            <td class="price text-right">$540</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">6</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/6495ED" alt=""></td>
                                            <td class="product"><strong>Product 6</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            <td class="price text-right">$870</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">7</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/DC143C" alt=""></td>
                                            <td class="product"><strong>Product 7</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>
                                            <td class="price text-right">$620</td>
                                        </tr>
                                        <tr>
                                            <td class="number text-center">8</td>
                                            <td class="image"><img src="https://www.bootdey.com/image/400x300/9932CC" alt=""></td>
                                            <td class="product"><strong>Product 8</strong><br>This is the product description.</td>
                                            <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                                            <td class="price text-right">$1,550</td>
                                        </tr>
                                        </tbody></table>
                                </div>
                                <!-- END TABLE RESULT -->

                                <!-- BEGIN PAGINATION -->
                                <nav aria-label="pagination">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END PAGINATION -->
                            </div>
                            <!-- END RESULT -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SEARCH RESULT -->
        </div>
    </div>
{% endblock %}