body {
    background-color: rgba(23, 36, 44, 0);
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.song-list i {
    margin-top: 7px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ion-icon.active{
    animation:like 0.5s 1;
    fill:red;
    stroke:none;
}
@-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
}

ion-icon{
    fill:transparent;
    stroke:black;
    stroke-width:30;
    transition:all 0.5s;
}

.song-list a {
    color: #fff;
}

.song-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(23, 36, 44);
    background: linear-gradient(180deg, rgba(23, 36, 44, 1) 1%, rgba(34, 47, 54, 1) 97%);
    border-radius: 5px;

}
